d>
		<title>No Closer To Heaven</title>
			</head>
				<img src=‘No_Closer_to_Heaven.png>

					<body>

								<h1><b> THE WONDER YEARS <b></h1>

									<p>While many view <font color=red> <font size=‘+2’>No Closer to Heaven </font> </font>(NCTH) as a disappointment in regard to their previous release, The Greatest Generation, this album has some of the most hard-hitting songs that one will ever listen to. Dan Campbell, or as he likes to be called, Soupy, suffered 	from a hard case of writers block before writing this album, and some could argue that this is readily visible in several songs off the album, such as A Song for Ernest Hemingway. Despite 	this, it is an album that grows on you, and shows the maturity that The Wonder Years have come to achieve. For me, the fact that the album has among the three best songs that the Wonder Years have ever put out is a nod to how strong this album truly is, and when one doesn’t compare it to their best album (and one of the best albums ever created), it is clear that this is a truly underrated album with spectacular songs.</p>

										<table><tr><td><a href=‘brothers.html’>Brothers &</a></td><td><a href=‘cardinals.html’>Cardinals</a></td><td>A Song For Patsy Cline</td></tr><tr><td>I Don’t Like Who I Was</td><td>Cigarettes and Saints</td><td>The Bluest Things On Earth</td></tr><tr><td>Thanks For The Ride</td><td>Stained Glass Ceilings</td><td>No Closer To Heaven</td></tr></table>

											<a href=‘https://en.wikipedia.org/wiki/No_Closer_to_Heaven'> Learn more about NCTH </a>


												</body>
												</html>
